---
layout: archive
toc: true
---

<h2>Nipun Thilakshan</h2>
<hr class="solid">

<p><span style="color:blue"><em>I am actively seeking career opportunities within the dynamic software industry, 
  where I can leverage my acquired knowledge in technology and problem-solving to contribute meaningfully. 
  I am dedicated to continuous learning, with a commitment to acquiring new skills and staying abreast of industry advancements. 
  My goal is to bring a valuable combination of expertise and adaptability to contribute to challenging projects and foster professional 
  growth.</em></span></p>

<p style="text-align:justify">
  As an accomplished software engineer with a distinguished track record spanning over 5 years in the IT industry,
  I specialize in full-stack development. My expertise encompasses rapid learning, effective problem-solving, 
  and proficient programming skills. Renowned as a self-motivated team player, I excel in steering projects through 
  the entire development lifecycle, demonstrating meticulous time planning from requirement gathering to product delivery. 
  I possess a keen passion for leveraging cutting-edge technologies to deliver innovative solutions. 
  My commitment to excellence and collaborative approach positions me as an ideal candidate for impactful roles in 
  the ever-evolving landscape of technology.
  <br /> 
  <a href="./../assets/pdf/nipun-portfolio.pdf">Resume</a> &nbsp; | &nbsp;
  <a href="./../assets/pdf/nipun-portfolio.pdf">CV</a> &nbsp; | &nbsp;
  <a href="https://nipunthilakshan.github.io/about">MORE ABOUT MYSELF!</a>
  <br />
</p>

<hr class="solid">
<h2>News!</h2>
<hr class="solid">

<ul>
  <li>December 2018: Graduated from the Faculty of Engineering, University of Moratuwa, Sri Lanka 
    with a second class upper in BSc.(Hons.) in Electronics and Telecommunication Engineering.</li>
</ul>
