---
layout: archive
toc: true
---

<h2>Nipun Thilakshan</h2>
<hr class="solid">

<p><span style="color:blue"><em>I am currently looking for a career opportunity in
  challenging software industry to use the learned knowledge of
  technology and problem solving while learning new skills.</em></span></p>

<p style="text-align:justify">
  Innovative software engineer with over 5 years of excellence in the IT industry, specializing in full stack
  development. My skills include quick learning, problem-solving and programming. As a self-motivated
  team player, I excel in guiding projects from requirement gathering to product delivery, with meticulous
  time planning. I have a strong passion for leveraging the latest technologies to provide innovative solutions. 
  <br /> 
  <a href="./../assets/pdf/resume.pdf">Resume</a> &nbsp; | &nbsp;
  <a href="./../assets/pdf/adhitha_dias_cv.pdf">CV</a> &nbsp; | &nbsp;
  <a href="https://adhithadias.github.io/about">MORE ABOUT MYSELF!</a>
  <br />
</p>

<hr class="solid">
<h2>News!</h2>
<hr class="solid">

<ul>
  <li>December 2018: Graduated from the Faculty of Engineering, University of Moratuwa, Sri Lanka 
    with a second class upper in BSc.(Hons.) in Electronics and Telecommunication Engineering.</li>
</ul>
